body {
	background-color: var(--clr_Dark-100);
	color: var(--clr_White);
	height:100%;
	
}


input{
	display: block;
	outline: none;
	border: none;
	width: 80vw;
	height: 17vw;
	max-width: 364px;
	max-height: 80px;
	background-color: var(--clr_White-opacity-16);
	color: var(--clr_White);
	font-size:15px;
	margin: 10px auto;
	border-radius: 25px;
	text-align: center;
	font-family: var(--ff-Raleway);
	letter-spacing: 2px;
	padding: 0 50px;

}
input:focus,input:hover{
	border: 2px solid var(--clr_White);
}
/* change placeholder color */
input::placeholder {
	color: var(--clr_White);
	font-size:17px;
	opacity: 0.9;
	font-family: var(--ff-Raleway);
	letter-spacing: 4px; 
	position:relative;
	top: -2%;
	
}


input[type=email] {
	background-image: url(/assets/icons/gmail_outlined.svg);
	background-repeat: no-repeat;
	background-size: 30px 30px;
	background-position: 5% center;
	padding-right: 40px;
	
}

input[type=password] {
	background-image: url(/assets/icons/key.svg);
	background-repeat: no-repeat;
	background-size: 30px 30px;
	background-position: 5% center;
	padding-right: 40px;
}


.inputUserName {
	background-image: url(/assets/icons/account_circle.svg);
	background-repeat: no-repeat;
	background-size: 30px 30px;
	background-position: 5% center;
	padding-right: 40px;
}

@media(--desktop) {
	body{
		overflow:hidden;
	}
	input{
		border-radius: 30px;
		font-size: 20px;
	}
	input::placeholder {
		font-size:20px !important;
		letter-spacing: 6px !important;
		
	}
	input[type=email],input[type=password],input[type=text] {
		background-size: 40px 40px !important;
	}
}

