.groupFacebookGoogleMetaMask {
	display: flex;
	justify-content: center;
	gap: 2rem;

	/* gap: 2rem; */
	& img {
		border: 3px solid var(--clr_White-opacity-16);
		border-radius: 15%;
		padding: 8px 17px;

	}

	& img:hover,
	& img:focus {
		border-color: var(--clr_Purple);
		cursor: pointer;

	}

	& img:active {
		box-shadow: 200px 0px 4px var(--clr_White-opacity-25) inset;
	}

}

.loginSection>.loginButton,
.registerSection>.registerButton {
	/* padding: 0 20px; */
	border: none;
	width: 80vw;
	height: 17vw;
	max-width: 364px;
	max-height: 80px;
	background-color: var(--clr_Purple);
	color: var(--clr_White);
	font-size: 1.8em;
	margin-top: 10px;
	border-radius: 20px;
	text-align: center;
	font-family: var(--ff_Bebas);
	letter-spacing: 2px;
}

.loginSection>.loginButton:hover,
.registerSection>.registerButton:hover {
	cursor: pointer;
}

.loginSection>.loginButton:active,
.registerSection>.registerButton:active {
	box-shadow: 1000px 0px  4px var(--clr_White-opacity-16) inset;
	transform: scale(0.9);
	opacity: 0.9;
	/* color:black; */
}

.brand {
	display: flex;
	object-fit: contain;
	justify-content: center;
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translate(-50%, -50%);


	& .logo {
		/* background-color: red; */
		width: 20vw;
		height: 20vw;
		object-fit: contain;
		max-width: 120px;
		max-height: 60px;
		/* align-self: center; */
	}

	& .title {
		align-self: center;
		font-family: var(--ff_Libre);
		/* font-size: 1em; */

	}
}

@media(--small) {
	body {
		& .title {

			font-size: 1em !important;

		}
	}
}


.loginSection {
	text-align: center;
	padding: 8vw;

	& .backArrow {
		height: 21vw;
		width: 21vw;
		object-fit: cover;
		transform: translate(70vw, -40%) rotate(90deg);
		opacity: 0.7;
		max-width: 120px;
		max-height: 120px;
	}

	& .dontHaveAccount {
		font-family: var(--ff_Roboto);
		padding: 10px;

		/* letter-spacing: 1px; */
		& a {
			color: var(--clr_Blue);
			text-decoration: none;
		}

		& a:hover,
		& a:focus {
			text-decoration: underline;
		}

	}

}

.registerSection {
	text-align: center;
	padding: 8vw;

	& .backArrow {
		height: 21vw;
		width: 21vw;
		object-fit: cover;
		margin: 0 auto;
		transform: translateY(-40%);
		opacity: 0.7;
		max-width: 120px;
		max-height: 120px;
	}

	& .orRegisterWith {
		font-family: var(--ff_Roboto);
		padding: 3vw;
		/* letter-spacing: 2px; */
	}

}


.orLoginWith {
	font-family: var(--ff_Roboto);
	padding: 5vw;

}

@media(--desktop) {

	.loginSection>.loginButton,
	.registerSection>.registerButton {
		border-radius: 30px;
		margin-top: 20px;
	}
	.groupFacebookGoogleMetaMask {
		gap: 3.5rem;}


}

input:focus~.brand {
	display: none;
}