:root {
	/* fonts varriables */
	--ff_Bebas: 'Bebas Neue', cursive;
	--ff_Bree: 'Bree Serif', serif;
	--ff_Buda: 'Buda', cursive;
	--ff_Changa: 'Changa', sans-serif;
	--ff_Lato: 'Lato', sans-serif;
	--ff_Libre: 'Libre Bodoni', serif;
	--ff_Poppins: 'Poppins', sans-serif;
	--ff_Radio: 'Radio Canada', sans-serif;
	--ff_Raleway: 'Raleway', sans-serif;
	--ff_Roboto: 'Roboto', sans-serif;

	/* colors variables */

	--clr_Dark :hsla(0, 0%, 0%, 1);
	--clr_Dark-100 : hsla(0, 0%, 16%, 1);
	--clr_Purple: hsla(238, 42%, 45%, 1);
	--clr_White : hsla(0, 0%, 100%, 1);
	--clr_White-opacity-16 : hsla(0, 0%, 100%, 0.16);
	--clr_White-opacity-25 : hsla(0, 0%, 100%, 0.25);

	--clr_Blue : hsla(205, 100%, 50%, 1);
	--clr_Green :hsla(126, 100%, 79%, 1);
	--clr_Red : hsla(349, 91%, 54%, 0.93);
	--clr_Red-100 : hsla(0, 84%, 56%, 0.41);
	--clr_Gradiant_blue_gray:linear-gradient(rgba(66, 70, 163, 1) , hsla(0, 0%, 41%, 0.68));
}

@custom-media --small (width <=400px);
@custom-media --tablets (width <=860px);
@custom-media --desktop (width >=900px);
@custom-media --nodesktop (width <=900px);