.videoCard {
	position: relative;
	background-color: black;
	width: 30vw;
	height: 40vh;
	margin: 10px;
	margin-top: 25px;
	overflow: hidden;
	border-radius: 30px;
	box-shadow: 0px 0px 15px #000;
	transition: all 0.5s ease-in-out;

	& .backArrow {
		/* NOTE diplay none */
		display: none;
		position: absolute;
		top: 20px;
		left: 20px;
		width: 50px;
		height: 50px;
		z-index: 1;
		transition: all 0.5s ease-in-out;
		background-color:white;
		border-radius: 50%;
	}

	& .backArrow:hover,
	& .backArrow:focus {
		cursor: pointer;
		/* background-color:white; */
		border-radius: 50%;
		transform: scale(1.1);
	}

	& .backArrow:active {
		transform: scale(1);
	}

	& .iconMuted {
		/* NOTE diplay none */
		display: none;
		position: absolute;
		top: 10px;
		right: 5px;
		width: 50px;
		height: 50px;
		z-index: 1;
	}

	& video {
		width: 100%;
		height: 100%;
		object-fit: cover;


	}

	& .hideCard {
		position: absolute;
		background-color: var(--clr_Dark-100);
		width: 100%;
		height: 100%;
		top: 0;
		/* NOTE delte opacity */
		opacity: 0;
		display: flex;
		justify-content: center;
		align-items: center;

		& img {
			height: 50px;
			width: 50px;

		}
	}
}

@media(--nodesktop) {
	.videoCard {
		width: 95%;
		height: 32vh;
	}
}

.videoCard:hover,
.videoCard:focus {
	transform: scale(1.02);
	box-shadow: 0px 0px 15px white;
	cursor: pointer;
}

.videoCard:active {
	transform: scale(1);
}

.noHover:hover,
.noHover:focus {
	transform: scale(1);
	box-shadow: 0px 0px 15px white;
	cursor: default;
}